@use "../abstracts" as *;

html,
body {
  &,
  * {
    cursor: none;
  }
}

body {
  // font-family: $lato;
  // font-family: $roboto;

  background-color: $white;
}

.my-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  z-index: 500;
  visibility: hidden;

  & > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 10px;
    border-radius: 20px;
    background-color: red;
    visibility: visible;
    visibility: hidden;

    & > div {
      width: 100%;
      height: 20px;
      border-radius: 10px;
      opacity: 0.8;
      background-color: $mediumgray;
      mix-blend-mode: exclusion;
      visibility: visible;
      background-color: yellow;
      visibility: hidden;
    }
  }
}

::-webkit-scrollbar {
  visibility: hidden;
  width: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  height: 15px;
  border-radius: 10px;
  background-color: $mediumgray;
}

::-webkit-scrollbar-corner {
  visibility: hidden;
}

.react-icons {
  vertical-align: middle;
}
