@use "../abstracts/" as *;

.cursor {
  position: fixed;
  z-index: 100;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid $lightgray;
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  background-color: $mediumgray;
  mix-blend-mode: exclusion;
}
