// colors
$swatch_1: hsl(3, 96%, 29%);
$black: hsl(30, 13%, 3%);
$white: hsl(0, 0%, 88%);
$swatch_4: hsl(26, 4%, 63%);
$swatch_5: hsl(14, 13%, 33%);
$swatch_6: hsl(17, 9%, 53%);
$swatch_7: hsl(10, 31%, 48%);
$swatch_8: hsl(11, 32%, 74%);
