.container {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  overflow: hidden;
  align-items: center;
  z-index: 2;
  // scroll-snap-type: y mandatory;
  scroll-snap-type: x mandatory;
  overscroll-behavior: contain;
}
